.container{
    padding-top: 92px;
    padding-bottom: 132px;
    background-color: #f0f2f5;
    width: auto;
    height: 720px;
    display: flex;
    justify-content: center;
}
.left-content{
    width: 536px;
    height: 400px;
    background-color: #f0f2f5;
   
}

.img-fb{
    width: 198px;
    height: 70px;
    margin-left: -20px;
}
.sign-in{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    
}
p{
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 12px;
}
.container-card{
    display: flex;
    padding-top: 20px;
}

.card-1{
    width: 160px;
    height: 206px;
    background-color: #fff;
    border-radius: 8px;
    border: solid #f0f2f5 2px;
    transition: ease .2s;

}


.card-1:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.img-1{
    width: 160px;
    height: 160px;

}
.avt-1{
    width: 160px;
    height: 160px;
    border-radius: 8px;
}
.name-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;

}
.card-2{
    width: 160px;
    height: 206px;
    background-color: #fff;
    border-radius: 8px;
    border: solid #f0f2f5 2px;
    transition: ease .2s;
    margin-left: 20px;

}
.card-2:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.img-2{
    width: 160px;
    height: 160px;
    background-color: #F5F6F7;
    display: flex;
    justify-content: center;
    

}
.avt-2{
    width: 160px;
    height: 160px;
    border-radius: 8px;
}
.name-2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    color: #1877f2;
}


.right-content{
    width: 390px;
    height: 450px;
    background-color: #fff;
    margin-left: 15px;
    text-align: center;
    padding-top: 40px;
    border-radius: 8px;
}
input{
    width: 90%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #c0c2c4;
    margin-top: 10px;
    padding: 6px 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.log-in{
    width: 90%;
    height: 48px;
    background-color: #1877F2;
    color: #fff;
    padding: 6px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 8px;
}
.log-in{
    cursor: pointer;
}
.forgot{
    margin-top: 30px;
    margin-bottom: 30px;
}
.forget{
    text-decoration: none;
    color: #1877F2;
}
.forget:hover{
    cursor: pointer;
}

.sign-up{
    margin-top: 50px;
    width: 180px;
    height: 48px;
    background-color: #42B72A;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    
}
.sign-up:hover{
    cursor: pointer;
}